<!DOCTYPE html>
<html ng-app="PPLOAD_MASTER" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<!-- CSS -->
		<!-- lib -->
		<link href="assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

	<!-- HEADER -->
	<site-header></site-header>
	<!-- /HEADER -->

	<!-- MAIN -->
	<section flex layout="row" layout-padding class="container">

		<!-- loading -->
		<div layout="column" ng-show="loading" flex>
			<div layout="column" flex="100" style="text-align:center;">
				<span><b ng-bind="msg"></b></span>
			</div>
			<div layout="row" flex="100" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</div>
		<!-- /loading -->

	    <main ng-hide="loading" flex layout="row" layout-padding class="section games-section">

	    	<!-- game -->
			<md-content game-view flex="65" class="item-view" ng-if="games" ng-init="initGameView()">

				<!-- dosbox -->
				<dosbox ng-if="game"></dosbox>
				<!-- /dosbox -->

				<hr class="divider"/>
					
				<!-- info -->
				<section class="section md-whiteframe-1dp item-info">
					<div class="section-header item-info-header">
						<h3 ng-bind="game.title"></h3>
						<a href="/{{game.channel.address}}">{{game.channel.content.title}}</a>
						<div class="item-views" views ng-init="getViews(game)">
							<span>{{game.views.length}} Views</span>
						</div>
					</div>
					<hr/>
					<div class="item-details">
						<div class="votes" votes ng-init="getVotes(game)">
							<a class="up-vote" ng-click="onUpVote(game)">
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<span class="number">{{game.upVotes}}</span>
							</a>
							<a class="down-vote" ng-click="onDownVote(game)">
								<span class="glyphicon glyphicon-thumbs-down"></span>
								<span class="number">{{game.downVotes}}</span>
							</a>
						</div>
						<ul>
							<li><b>peers:</b> {{game.channel.peers}}</li>
							<li><b>date added:</b> <span am-time-ago="game.date_added"></span>
							<li><b>zip size:</b> {{game.zip_size|filesize}}</li>
						</ul>
						<article layout-padding ng-show="game.description">
							<hr/>
							<p ng-bind="game.description"></p>
						</article>
					</li>
				</section>
				<!-- /info -->

				<hr class="divider"/>

				<!-- comments -->
				<comments ng-init="getComments(game)">
					<div class="item-comments">
						<!-- comment form -->
						<section class="comment-form section md-whiteframe-1dp"  style="margin-top:16px;">
							<div class="section-header" layout-padding>
								<h2>Comments</h2>
								<span class="comment-counter">
									<span class="glyphicon glyphicon-comment"></span>
									<span class="number">{{comments.length}}</span>
								</span>
							</div>
						    <hr/>
							<form layout="row" layout-padding>
								<div flex="10">
				                	<identicon class="md-whiteframe-1dp" username="user" size="64"></identicon>
								</div>
								<div flex="90">
									<md-input-container class="md-block" flex-gt-sm>
						              	<label>Add comment as {{user}}...</label>
										<textarea ng-model="comment" ng-focus="onTextAreaFocus()"></textarea>
						            </md-input-container>
							        <md-button class="md-primary md-raised edgePadding pull-right" ng-click="onPostComment(comment,game)">
							        	<label>Post</label>
							        </md-button>
							    </div>
						    </form>
						</section>
						<!-- /comment form -->
						<!-- comment list -->
						<section class="comment-list md-whiteframe-1dp" id="comments-section" layout-padding ng-show="comments.length > 0">
							<ul>
								<li ng-repeat="comment in comments | orderBy:'-date_added'" layout="row">
									<div flex="10">
					                	<identicon class="md-whiteframe-1dp" username="comment.user_id" size="56"></identicon>
									</div>
									<div flex="90">
										<span ng-bind="comment.user_id" class="user-name"></span> • 
										<span am-time-ago="comment.date_added" class="time-ago"></span>
										<p ng-bind="comment.comment"></p>
								    </div>
								</li>
							</ul>
						</section>
						<!-- comment list -->
					</div>
				</comments>
				<!-- /comments -->

			</md-content>
			<!-- /game -->

			<!-- game list -->
			<md-content class="game-list" ng-hide="loading" flex="35" ng-if="games">
				<div class="md-whiteframe-1dp" layout="column">
					<ul>
				    	<li ng-repeat="game in games | orderBy:'-date_added' track by $index" layout="row" layout-padding>
							<figure flex="35" class="game-img">
								<a href="/{{site_address}}/view.html?c={{game.channel.address}}g={{game.game_id}}">
									<img src="{{game.img}}"/>
								</a>
							</figure>
							<div flex="65" class="game-info">
					    		<h3><a href="/{{site_address}}/view.html?c={{game.channel.address}}g={{game.game_id}}">{{game.title}}</a></h3>
					    		<span><b>zip size:</b> {{game.zip_size|filesize}}</span><br/>
					    		<span><b>date added:</b> <span am-time-ago="game.date_added"></span></span>
					    	</div>
					    	<hr/>
				    	</li>
					</ul>
				</div>
			</md-content>
			<!-- /game list -->

	    </main>

	</section>
	<!-- /MAIN -->

	<!-- JS -->

		<!-- zeronet -->
		<script type="text/javascript" src="assets/lib/zeronet/ZeroFrame.js"></script>
		<script type="text/javascript" src="assets/lib/zeronet/ZeroChat.js"></script>
    
		<!-- jquery -->
		<script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>

		<!-- angular -->		
		<script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="assets/lib/moment/moment.js"></script>
		<script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/pnglib.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/identicon.js"></script>
	    <script type="text/javascript" src="assets/lib/angular-identicon/angular-identicon.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular-fullscreen/angular-fullscreen.js"></script>

		<!-- app core -->
		<script type="text/javascript" src="app/application.js"></script>		
		<script type="text/javascript" src="app/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="app/core/directives/site-header.directive.js"></script>		
		<script type="text/javascript" src="app/core/directives/comments.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/votes.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/views.directive.js"></script>
		<script type="text/javascript" src="app/core/filters/file-size.filter.js"></script>

		<!-- app module -->
		<script type="text/javascript" src="app/games/directives/game-view.directive.js"></script>
		<script type="text/javascript" src="app/games/directives/dosbox.directive.js"></script>

		<!-- dosbox -->
		<script type="text/javascript" src="assets/lib/js-dos/js-dos.js"></script>

	<!-- /JS -->  

</body>

</html>
